

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}


.container{
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

.sidebar{
    width: 15vw;
    height: 100vh;
    background: rgb(255, 77, 6);
}

.sidebar .logo img{
    width: 40%;
    padding: 20px 0;
}

.sidebar .menu ul{
    list-style: none;
}
.sidebar .menu ul li{
    padding: 10px 20px;
}

.sidebar .menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
}

.sidebar .menu ul li:hover a{
    color: aqua;
}

.content{
    width: 85vw;
    background-color: #FFFFFF;
    display: flex;
}

.content img{
    width: 100%;
}

